{% extends "base.html" %}
{% block title %}Liste des ingrédients {% endblock %}
{% block content %}
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Ingredients</th>
            <th>Disponible</th>
            {% if pizzaiolo == 1 %}
                <th>Suppression</th>
                <th>Disponibilité</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ingredient['id']}}</td>
            <td>{{ingredient['name']}}</td>
            <td>{{ 'Oui' if ingredient['available'] else 'Non'}}</td>
            {% if pizzaiolo == 1 %}
                <td><a href="/delete_ingredient?ingredient_id={{ ingredient['id'] }}&"><button type="submit" class="btn btn-primary">Supprimer</button></a></td>
                <td><a href="/availabilite?ingredient_id={{ ingredient['id'] }}&value={{ not ingredient['available'] }}"><button type="submit" class="btn btn-primary">Changer</button></a></td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
{% if pizzaiolo == 1 %}
<form method='POST'>
    <div class="mb-3">
        <label for="name" class="form-label">Ajouter un ingrédient</label>
        {{ form.name(id='ingredient', class_ = 'form-control') }}
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form.csrf_token }}
</form>
{% endif %}
{% endblock %}