<!Doctype html>
<html>
    <head>
        <body>
            <br><br>
            <table class="table table-stripped">
                <thead class="table-dark">
                    <tr>
                        <th>N°</th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %} 
                    <tr>
                       <td>{{ingredient['id']}}</td>
                       <td>{{ingredient['name']}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </body>
    </head>
</html>