<!Doctype html>
<html>
    <head>
        <body>
            <br><br>
            <table class="table table-stripped">
                <thead class="table-dark">
                    <tr>
                        <th>N°</th>
                        <th>Pizza</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pizza in pizzas %} 
                    <tr>
                       <td>{{pizza['id']}}</td>
                       <td>{{pizza['name']}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </body>
    </head>
</html>