{% extends "base.html" %}
{% block title %}Liste des pizzas {% endblock %}
{% block content %}
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Pizza</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {% for pizza in pizzas %}
        {% set ingredient_ids = pizza["ingredient_ids"].split(',') %}
        <tr class="{{ 'table-secondary' if pizza['disponible'] == 0 }}">
           <td>{{pizza['id']}}</td>
           <td>{{pizza['name']}} </td>
           <td>{{pizza['price']}} €</td>
           <td>{{pizza['description']}}</td>

                <td>
                    <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal"
                            data-bs-target="#editModal{{pizza['id']}}">
                        {{ 'Modifier' if pizzaiolo == 1 else 'Consulter' }}
                    </button>
                    {% if pizzaiolo == 1 %}
                    <a href="/delete_pizza?pizza_id={{ pizza['id'] }}">
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </a>
                    {% endif %}
                </td>

        </tr>

        <!-- Modal pour édition -->

        <div class="modal fade" id="editModal{{pizza['id']}}" tabindex="-1" aria-labelledby="editModalLabel{{pizza['id']}}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{pizza['id']}}">{{ 'Modifier la pizza' if pizzaiolo == 1 else 'Consulter pizza'}} </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/edit_pizza/{{pizza['id']}}">
                            <div class="mb-3">
                                <label for="edit_name{{pizza['id']}}" class="form-label">Nom de la pizza *</label>
                                <input type="text" class="form-control" id="edit_name{{pizza['id']}}"
                                       name="name" value="{{pizza['name']}}" required {{ 'readonly' if pizzaiolo != 1 }}>
                            </div>

                            <div class="mb-3">
                                <label for="edit_price{{pizza['id']}}" class="form-label">Prix (€) *</label>
                                <input type="number" step="0.1" class="form-control" id="edit_price{{pizza['id']}}"
                                       name="price" value="{{pizza['price']}}" required {{ 'readonly' if pizzaiolo != 1 }}>
                            </div>

                            <div class="mb-3">
                                <label for="edit_description{{pizza['id']}}" class="form-label">Description</label>
                                <input type="text" class="form-control" id="edit_description{{pizza['id']}}"
                                       name="description" value="{{pizza['description']}}" {{ 'readonly' if pizzaiolo != 1 }}>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ingrédients *</label>
                                <div class="row g-3">
                                    {% for ingredient in ingredients %}
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   name="ingredients" value="{{ ingredient['id'] }}"
                                                {% if ingredient['id']|string in ingredient_ids %}checked{% endif %} {{ 'disabled' if pizzaiolo != 1 }}>
                                            <label class="form-check-label">
                                                {{ ingredient['name'] }}
                                            </label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if pizzaiolo == 1 %}
                            <div class="d-grid gap-2">
                                {{ form.csrf_token }}
                                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </tbody>
</table>

{% if pizzaiolo == 1 %}
<div class="container py-5">
    <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Ajouter une nouvelle pizza</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">

                            <div class="mb-3">
                                <label for="name" class="form-label">Nom de la pizza *</label>
                                {{ form.name(id='name', class_ = 'form-control') }}
                            </div>

                            <div class="mb-3">
                                <label for="price" class="form-label">Prix (€) *</label>
                                {{ form.price(id='price', class_ = 'form-control') }}
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Description *</label>
                                {{ form.description(id='description', class_ = 'form-control') }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ingrédients *</label>
                                <div class="row g-3">
                                    {% for subfield in form.ingredients %}
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            {{ subfield(class_="form-check-input") }}
                                            {{ subfield.label(class_="form-check-label") }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Ajouter la pizza</button>
                                {{ form.csrf_token }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}